<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Crop Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h5 *ngIf="croppedImagePath.length">Cropped Image</h5>

  <img *ngIf="croppedImagePath.length" class="image" [src]="croppedImagePath" />
  <img *ngIf="!croppedImagePath.length" class="image" [src]="defaultImage" />

  <ion-button class="ion-margin-top" (click)="selectImage()">
    Pick Image to Crop
  </ion-button>


  <!-- <p *ngIf="isLoading">Loading ...</p> -->


</ion-content>